.body-main {
  background: #f0f2f5;
}

.login-form {
  max-width: 300px;
}

.login-form-message {
  max-width: 500px;
}

.login-form-button {
  width: 100%;
}

.ant-layout-footer {
  margin-top: 10%;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  width: 100%;
}

.main-layout {
  max-width: 1200px;
  min-width: 750px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin: 0 auto;
}

.auth-header {
  text-align: right;  
  margin: 5px;  
}

.main-footer {
  text-align: left;  
}

.auth-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.auth-link:hover {
  text-decoration: none;
}

.auth-link-logged {
  color: #7f8184;
}

.ant-select-dropdown-menu-all {
  width: 350px;
}

.ant-input.ant-select-search__field {
  text-transform: uppercase;
}

.ant-select-dropdown-menu.ant-select-dropdown-menu-root.ant-select-dropdown-menu-vertical {
  max-height: 350px;
}

.main-caption {
  font-size: x-large;
  padding: 10px;  
}

.main-control {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  display: flex;
  justify-content: space-between;
}

.btn-search {
  width: 230px;  
}

.main-content-body {
  padding-top: 10px;  
}

.btn-car-group {
  margin-right: 10px;
  margin-bottom: 10px;    
}

.field-validation-error-tip {
  background: red;
  color: #fff;
  display: block;
  font-size: 12px;
  position: absolute;
  left: -10000px;
  padding-left: 5px;
  padding-right: 5px;  
  text-align: center;
  z-index: 10;
  zoom: 1;
  white-space: normal;
  border-radius: 5px;
  -webkit-box-shadow: -1px 0 3px #666;
  box-shadow: -1px 0 3px #666;
}

.main-tab-item {
  width: 400px;
}

.p-card {
  margin: 0;
  font-size: 12px;
  margin: 0;
}

.btn-add-thing .ant-upload.ant-upload-select-picture-card {
  margin-left: auto;
  margin-right: 0;
  background-color: #1890ff;
}

.btn-add-thing {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  background-color: #1890ff;
  width: 40px;
  height: 40px;
  border-radius: 4px;  
  border: 1px dashed #d9d9d9;
  display: flex;
  margin-bottom: 8px;
}

.btn-add-thing:hover {
  border: 1px #d9d9d9;
}

.btn-add-thing-content {
  margin: auto;
}

.btn-add-thing-text .ant-upload-text {
  color: white;
}

.btn-add-thing .ant-upload-text {
  color: white;
}

.ant-card-meta-title {
  font-size: 14px;
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0;
}

.ant-card-body {
  padding: 8px;
}


.btn-add-file-text .ant-upload-text {
  color: white;
}

.ant-confirm-body .ant-confirm-content {
  margin-left: 0;
}

.ant-confirm-btns {
  display: flex;
  flex-direction: row-reverse;  
}

.ant-confirm-btns .ant-btn {
  margin-left: 8px;
}

.ant-tooltip-inner {
  background-color: #fff;
  color: black;
}

.ant-tooltip-placement-top .ant-tooltip-arrow {
  border-top-color:  #fff;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow {
  border-bottom-color:  #fff;
}

.ant-tooltip-placement-topLeft .ant-tooltip-arrow {
  border-top-color:  #fff;
}

.ant-tooltip-placement-topRight .ant-tooltip-arrow {
  border-top-color:  #fff;
}

.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow {
  border-bottom-color:  #fff;
}

.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color:  #fff;
}

.ant-modal-content {
  background-color: #e8e8e8;
}

.ant-confirm-body .anticon {
  display: none;
}

.ant-select-arrow > .anticon {
  display: block;
  color: #bfbfbf; 
}

/* you can make up upload button and sample style by using stylesheets */
.anticon.anticon-plus {
  font-size: 18px;
  color: white;
  margin-left: auto;
  margin-right: 0;     
}

.btn-add-file > .ant-upload.ant-upload-select-picture-card {
  width: 80px;
  height: 60px;  
  margin-left: auto;
  margin-right: 0;
  background-color: #1890ff;
}

.ant-card-hoverable {
  cursor: auto;
}

.ant-card-cover {
  cursor: pointer;  
}

.thing-block {
  padding-top: 5px;
}

.splash-parent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto;    
}

.splash-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto;    
}

p {
  margin: 0;
}

.ant-popover-inner-content {
  color: black;
}

